tqdm>=4.60.0
python_telegram_handler>=2.2.1
requests>=2.25.1
psutil>=5.8.0
npTDMS>=1.2.0
h5py>=3.2.1
matplotlib>=3.4.1
compress_pickle>=2.0.1
scipy>=1.6.3
numpy>=1.20
pyyaml>=5.4
pandas>=1.2.4
pytest>=6.2.4
coloredlogs>=15
